*{
	font-family:Arial;
	margin:0;
	padding:0;
}

html{
	position: relative;
	opacity: 0;
}

body{
	background-color: white;
	color: rgb(30,30,30);	
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
}
header{
	z-index: 9;
	position: fixed;
	background: color;
	width: 100%;
	background: white;
	filter: drop-shadow(0 21px 16px rgba(0, 0, 0, .18));
}
header h1{
	position: relative;
	color: rgb(30,30,30);
	display: inline-block;
	font-family: 'sf-ui-display-thin';
	font-size: 38px;
	margin-left: 5%;
	padding: 20px 0;
}
header h1 span{
	position: absolute;
	left: 105%;
	top: 5px;
	font-family: 'sf-ui-display-thin';
	font-size: 58px;
	color: rgb(255, 45, 45);
}
header ul{
	display: inline-block;
	position: absolute;
	width: auto;
	top: 0;
	right: 5%;
	min-width: 54%;
	max-width: 80%;
	padding: 28.5px 0;
	text-align: right;
}
header ul li{
	display: inline-block;
	margin-left: 3%;
	padding: 6px 2%;
	font-size: 18px;
	text-align: right;
	cursor: pointer;
}
header ul li:hover a{
	color: rgb(255, 45, 45);
}
header ul li.price{
	border-radius: 5px;
	background-color: rgb(255, 45, 45);
	color: white;
	transition: .3s;
}
header ul li.price a{
	color: white !important;
}
header ul li.price:hover{
	background-color: rgb(245, 45, 45);
}
header ul li .fa{
	margin-left: 7px;
	color: white;
	font-size: 20px;
}
header ul li a{
	font-family: 'sf-ui-display-light';
	text-decoration: none;
	color: inherit;
}
#content{
	padding-top: 85px;
	font-size: 0;
}
.main{
	position: relative;
	width: 100%;
	margin-top: -30px;
	max-height: 95vh;
	overflow: hidden;
}
.main h3{
	position: absolute;
    top: 50%;
    left: 23.5%;
    font-size: 72px;
    color: rgb(30,30,30);
    font-family: 'Circe-Bold';
    text-align: center;
}
.redblock{
	background: rgb(245, 45, 45);
	font-size: 34px;
	text-align: center;
	color: white;
	padding: 25px 0;
	font-family: 'sf-ui-display-medium';
}
.redblock a{
	color: white;
	text-decoration: none;
	cursor: pointer;
	border: 3px solid rgb(245, 45, 45);
	border-radius: 5px;
	padding: 6px 15px;
	font-family: 'sf-ui-display-light';
	transition: .3s;
}
.redblock a:hover{
	border-color: white;
}
.catalog{
	position: absolute;
	width: 40%;
	top: 80px;
	padding: 0 5%;
	left: 58%;	
}
.catalog img{
	width: 100%;
}
.contact{
	position: absolute;
	width: 35%;
	top: 80px;
	padding: 0 5%;
	left: 15%;	
}
.contact img{
	width: 100%;
}
.main img{
	width: 100%;
}
.container{
	position: relative;
	width: 90%;
	padding: 100px 5%;
}
.container h1{
	font-family: 'sf-ui-display-thin';
	font-size: 44px;
	padding-bottom: 30px;
}
.container .hr{
	width: 10%;
	height: 4px;
	background-color: rgb(255, 45, 45);
}
.container p{
	margin-top: 30px;
	width: 50%;
	font-family: 'sf-ui-display-light';
	font-size: 16px;
}
.container .diplom{
	position: absolute;
	right: 5%;
	top: 210px;
	width: 35%;
	border: 2px solid rgb(255, 45, 45);
	border-radius: 5px;
}
ul.contacts{
	margin-top: 60px;
	font-size: 18px;
	list-style: none;
}
ul.contacts li{
	font-family: 'sf-ui-display-medium';
	margin: 25px 0;
}
ul.contacts li .fa{
	font-size: 24px;
	margin-right: 10px;
}
p.adress .fa,p.time .fa{
	font-size: 24px;
	margin-right: 10px;	
}
p.adress{
	font-family: 'sf-ui-display-medium';
	position: absolute;
	top: 267px;
	left: 55%;
	width: 40%;
	font-size: 18px;
}
p.time{
	font-family: 'sf-ui-display-medium';
	position: absolute;
	top: 218px;
	left: 55%;
	width: 40%;
	font-size: 18px;
}
p.descr {
	font-family: 'sf-ui-display-medium';
	position: absolute;
	top: 321px;
	left: 55%;
	width: 40%;
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
}
div.more{
	position: absolute;
	top: 530px;
	right:  5%;
	padding: 12px 25px;
	background: rgb(255, 45, 45);
	font-size: 18px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.come1{
	display: none;
	margin-top: 150px;
	width: 45%;
	margin-right:5%;
	vertical-align: top;
}
.come2{
	display: none;
	vertical-align: top;
	margin-top: 150px;
	width: 50%;
}
.aside{
	z-index: -1;
	position: absolute;
    top: 300px;
    left: 24%;
    width: 29%;
}
ul.menu {
	width: auto;
	position: absolute;
	max-width: 20%;
	left: 5%;
	top: 275px;
}
ul.menu li{
	margin-bottom: 30px;
}
ul.menu li a{
	font-size: 20px;
	font-family: 'sf-ui-display-medium';
	color: inherit;
	text-decoration: none;
}
ul.menu li a:hover{
	color: rgb(255, 45, 45);
	cursor: pointer;
}
ul.menu li:hover ul li a{
	color: rgb(30, 30, 30);
	cursor: default;
}
ul.menu li ul {
	list-style: none;
	padding-left: 10%;
}
ul.menu li ul li{
	margin: 3px 0;
	font-size: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: 'sf-ui-display-light';
	border-bottom: 2px solid transparent;
	transition: .3s;
}
ul.menu li ul li a{
	font-family: 'sf-ui-display-light';
	color: rgb(30, 30, 30);
}
.active{
	color: rgb(255, 45, 45) !important;
}
ul.menu li ul li.first {
	margin-top: 10px !important;
}
ul.menu li ul li a:hover {
	color: rgb(255, 45, 45);
	cursor: pointer;
}
div.maincontainer {
	margin-top: 80px;
	position: relative;
	left: 27%;
	width: 68%;
	font-size: 20px;
	font-family: 'sf-ui-display-medium';
}
div.go-to-inner {
	vertical-align: top;
	display: inline-block;
	width: 31.5%;
	padding: 5px;
	margin-bottom: 25px;
}
div.go-to-inner:hover {
	cursor: pointer;
}
div.go-to-inner img {
	margin-top: 5px;
	width: 70%;
}
div.go-to-inner p {
	border-left: 3px solid rgb(255, 45, 45);
	padding: 10px 8px;
	font-family: 'sf-ui-display-medium';
	white-space: normal;
	margin-top: 0px;
	width: 100%;
}
div.imgContainer {
	height: 250px;
	margin-bottom: 10px;
	overflow-y: hidden;
}

.popup {
	display: block;
	z-index: 9;	
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width: 45%;
    max-height: 90%;
    overflow: hidden;
    /*width:90%;*/
    padding:0px;
    position:relative;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
.popup-inner img{
	margin: 20px 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:5%;
    right:5%;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background: rgb(255, 45, 45);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
    text-decoration: none;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    text-decoration:none;
}
footer{
	height: 100px;
}
ul.pagination{
	text-align: center;
	margin-top: 20px;
	list-style: none;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
ul.pagination li{
	padding: 5px;
	display: inline-block;
	color: rgb(30,30,30);
}
ul.pagination li.disabled{
	color: grey;
}
ul.pagination li.active{
	color: red;
}
ul.pagination li span{
	text-decoration: none;
	color: inherit;
}
ul.pagination li a{
	text-decoration: none;
	color: inherit;
}
ul.pagination li a:hover{
	text-decoration: underline;
}