<template>
    <div class="wrapper">
        <div class="menu">
            <div class="brand">Страна цветов плюс</div>
            <router-link v-for="page, idx in pages" v-if="!!page.props" :to="page.path" :key="idx">
                <span :class="`fa fa-${page.props.icon}`"></span>
                {{ page.props.title }}
            </router-link>
            <a href="/admin/logout">
                <span class="fa fa-sign-out"></span>
                Выход
            </a>
        </div>
        <div class="container">
            <transition name="fade">
                <router-view></router-view>
            </transition>
        </div>
    </div>
</template>

<script>
    import VueRouter from 'vue-router'
    import routes from '../routes'

    const router = new VueRouter({
        mode: 'history',
        base: '/admin/',
        routes,
    })

    export default {
        router,

        data() {
            return {
                pages: routes,
            }
        },

        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style scoped>
    .brand{
        text-align: center;
        padding: 30px 0;
        color: white;
        font-size: 27px;
    }
</style>

