.login-page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  * {
    font-family: @roboto;
  }
}

.login-form {
  background: #FFFFFF;
  max-width: 500px;
  text-align: center;

  h1 {
    margin: 0 0 25px 0;
    letter-spacing: 1.3px;
    font-weight: 300;
    font-size: 34px;
  }

  input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
  }

  button {
    text-transform: uppercase;
    outline: 0;
    background-color: @blue;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;

    &:hover, &:active, &:focus {
      background-color: #0065ca;
    }
  }

  .message {
    color: #e12323;
    font-size: 16px;
    font-weight: 500;
  }
}
