@import "../../../../node_modules/element-ui/lib/theme-default/index.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,500,700,900&subset=cyrillic');
@import "../../../../node_modules/font-awesome/less/font-awesome";
@import "login-page";

@menuWidth: 220px;
@roboto: 'Roboto', sans-serif;
@openSans: 'Open Sans', sans-serif;
@blue: #0175e8;
@menuColor: #2f4050;
@shadow-1: 0 1px 6px rgba(0, 0, 0, 0.2);

body, html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  background: #f4f5f7;
  font-family: @roboto;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  width: @menuWidth;
  padding-top: 10px;
  background-color: @menuColor;
  font-family: @openSans;
  font-weight: 600;

  a {
    display: block;
    width: 100%;
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;

    &.router-link-active {
      color: #fff;
      background-color: darken(@menuColor, 5%);
      border-left: 4px solid #00bd73;
    }

    .fa {
      margin-right: 10px;
    }
  }
}

.container {
  position: absolute;
  left: @menuWidth;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  font-family: @openSans;
}

.page-header {
  font-size: 34px;
  font-weight: 100;
  margin-bottom: 20px;
  padding: 20px 25px;
  background-color: #fff;
  box-shadow: @shadow-1;
  margin-top: 15px;
}

.fade-enter-active, .fade-leave-active {
  position: absolute;
  left: 0;
  right: 0;
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}

.panel {
  margin: 0 25px 10px 25px;
  background-color: #fff;
  box-shadow: @shadow-1;
  border-radius: 6px;

  &-body {
    padding: 20px;
  }

  &-footer {
    border-top: 1px solid #eee;
    padding: 20px;
  }
}