<template>
    <div>
        <div class="page-header">
            {{ title }}
        </div>
        <panel>
            <el-tree
                    :data="categories"
                    default-expand-all
                    :expand-on-click-node="false"
                    node-key="id"
                    ref="tree"
                    :props="defaultProps"
                    :render-content="renderRow"
            >
            </el-tree>
            <template slot="footer">
                <el-button @click="category.dialog = true">Создать</el-button>
            </template>
        </panel>
        <el-dialog title="Создать категорию" v-model="category.dialog" size="tiny">
            <el-form labelPosition="top">
                <el-form-item label="Название категории">
                    <el-input v-model="category.name"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="category.dialog = false">Отмена</el-button>
                <el-button type="primary" @click="createCategory">Создать</el-button>
              </span>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        props: [
            'title',
        ],

        data() {
            return {
                categories: [],
                category: {
                    dialog: false,
                    parent_id: null,
                    name: '',
                },
                defaultProps: {
                    children: 'children',
                    label: 'name',
                }
            }
        },

        mounted() {
            this.load()
        },

        methods: {
            async load () {
                this.categories = (await this.$http.get('categories')).filter(category => category.parent_id == null)
            },

            async createCategory () {
                await this.$http.post('categories', this.category)
                await this.load()
                this.$message({
                    message: 'Категория создана',
                    type: 'success'
                })
                this.category = {
                    dialog: false,
                    name: '',
                    parent_id: null,
                }
            },

            async deleteCategory (id) {
                await this.$http.delete(`categories/${id}`)
                await this.load()
                this.$message({
                    message: 'Категория удалена',
                    type: 'success'
                })
            },

            renderRow(h, { node, data, store }) {
                const categoryButtons = [
                    h('el-button', {
                        props: {
                            size: 'mini',
                        },
                        on: {
                            click: () => {
                                this.category.parent_id = data.id
                                this.category.dialog = true
                            }
                        }
                    }, 'Добавить подкатегорию'),
                    h('el-button', {
                        props: {
                            size: 'mini',
                            type: 'danger',
                        },
                        on: {
                            click: () => this.deleteCategory(data.id)
                        }
                    }, 'Удалить'),
                ]

                const subCategoryButtons = [
                    h('el-button', {
                        props: {
                            size: 'mini',
                            type: 'danger',
                        },
                        on: {
                            click: () => this.deleteCategory(data.id)
                        }
                    }, 'Удалить'),
                ]
                return h('span', {
                    domProps: {
                        style : 'white-space: normal'
                    }}, [
                    h('span', [
                        h('span', node.label)
                    ]),
                    h('span', {
                        domProps: {
                            style: 'float: right; margin-right: 20px',
                        }
                    }, data.parent_id == null
                        ? categoryButtons
                        : subCategoryButtons
                    )
                ])
            }
        }
    }
</script>
