<template>
    <div class="panel">
        <div class="panel-body">
            <slot></slot>
        </div>
        <div class="panel-footer">
            <slot name="footer"></slot>
        </div>
    </div>
</template>