*{
	font-family:SFUILight;  
	margin:0; 
	padding:0;
}

html{
	position: relative;
}

body{
	background-color: blue;
	min-width: 1020px;
	background-color: #e8e8e8; 
	position: relative;
	min-height: 100vh;
}

h3{
	font-family: AlgeriaMedium;
}

a{
	padding:0;
	margin:0;
	text-decoration: none;
	color: inherit;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: SFUILight;
    src: url(../fonts/SFUIDisplay-Light.otf);
}

@font-face {
    font-family: SFUIRegular;
    src: url(../fonts/SFUIDisplay-Regular.otf);
}

@font-face {
    font-family: SFUIMedium;
    src: url(../fonts/SFUIDisplay-Medium.otf);
}

@font-face {
    font-family: SFUIBold;
    src: url(../fonts/SFUIDisplay-Bold.otf);
}

@font-face {
    font-family: AlgeriaBold;
    src: url(../fonts/AlergiaRemixBold.otf);
}

@font-face {
    font-family: AlgeriaMedium;
    src: url(../fonts/AlergiaRemixMedium.otf);
}

#contacts{
	background-color: #0d0d0d;
}

#contacts .container{
	background-color: #0d0d0d;
	display: flex;
	justify-content: space-between;
	padding-top: 8px;
	padding-bottom: 8px; 
	font-size: .8em;
}

#header{
	background-color: #1b1b1b;
}

#header .container{
	overflow: auto;
	position: relative;
	height: 270px;
	background: url(../images/header.jpg) no-repeat;
}

#header .container h1{
	position: absolute;
	bottom: 50px;
	left: 60px;
	font-family: AlgeriaMedium;
	font-size: 45px;
}

#navigation{
	background-color: #333333;
}

.container{
    width:960px;
    margin:0 auto;
    background-color: black;
    color: white;
}

#navigation .container{
	background-color: #333333;
	display: flex;

}

.menuItem{
	text-align: center;
	width: 192px;
	padding-bottom:10px;
	padding-top:10px;
	transition: background-color 0.25s ease-out;
}

.menuItem:hover{
	background-color: #555555;
}

#content{
	background-color: #e8e8e8;
	
}

#content .container{
	color: black;
	background-color: #e8e8e8;
}

.mainContent{
	display:flex;
	justify-content: space-between;
	padding-top:25px;
}

.mainText{
	width: 75%;
}

.mainText p,
.mainText ul{
	max-width: 570px;
}

ul{
	padding-left: 18px;
}

.additionalText{
	float: right;
}

.additionalText .imgContainer{
	margin-top: 20px;
	width: 212px;
	left:-3px;
	position: relative;
}

.whiteButton{
	margin-top:10px;
	border-radius: 8px;
	height: 28px;
	width: 200px;
	padding-top: 12px;
	padding-left: 12px;
	background-color: white;
	font-size: .8em;
	font-family: SFUIMedium;
	position: relative;
	left: -3px;
	box-shadow: 0px 7px 10px -20px #000;
	transition: all 0.2s ease-out;
}

.whiteButton:hover{
	box-shadow: 0px 4px 25px -10px #000;
}

.blocks{
	display: flex;
	padding-top:20px;
	padding-bottom:20px;
}

.blocks :first-child{
	margin-left:0px; 
}

.blocks :last-child{
	margin-right: :0px; 
}

.block{
	width: 225px;
	margin:10px;
}

.whiteBlock{
	border-radius: 8px;
	background-color: white;
	width: 225px;
	height: 150px;
	box-shadow: 1px 1px 100px -32px #808080;
}

.boldAlgeria{
	margin-top: 15px;
	margin-bottom: 8px;
}
.boldAlgeria span{
	font-size: 1.5em;
	font-family: AlgeriaBold;
}

.transpButton{
	margin-top: 15px;
	border-radius: 8px;
	border: 2px solid black;
	text-align: center;
	padding-top: 9px;
	font-family: SFUIBold;
	font-size: .8em;
	width: 160px;
	height: 25px;
	transition: all 0.2s ease-out;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}

.transpButton:hover{
	background-color: black;
	color: white;
}

#items{
	background-color: #e8e8e8;
}

#items .container{
	background-color: #e8e8e8;
	color: black;
	overflow: auto;

}

.sortPanel{
	display: flex;
	justify-content: 
}


.sortPanel .transpButton{
	border-radius: 0px;
	border-right: 0px ;
}

.sortPanel .transpButton:first-child{
	border-radius: 7px 0 0 7px;
}

.sortPanel .transpButton:first-child:hover{
	color:black;
	background-color: #e8e8e8;
}

.sortPanel .transpButton:last-child{
	border-radius: 0 7px 7px 0;
	border-right: 2px solid black;
}

 .menu{
 	position: absolute;
 	margin-top: 20px;
 	display:inline-block;
 	overflow: auto;
	border-radius: 8px;
	background-color: white;
	margin-bottom: 20px;
	padding:15px;
	width: 195px;
	box-shadow: 1px 1px 100px -32px #808080;
}

.menu ul li{
	list-style-type: none;
	position: relative;
	left: 15px;
}

.itemsContainer{
	overflow: auto;
	padding-bottom: 20px;
}

.content{
	position: relative;
	left: 225px;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	overflow: auto;
	max-width: 735px;
	padding-bottom: 30px;
}

.itemCard{
	border-radius: 8px;
	background-color: white;
	width: 205px;
	height: 160px;
	box-shadow: 1px 1px 100px -32px #808080;
	margin-left:20px;
	padding:10px;
	margin-top: 20px;
	transition: all 0.25s ease-out;
	position: relative;
}

.itemCard:hover{
	box-shadow: 0px 7px 38px -12px #000;
}

.itemImg{
	max-width: 170px;
	margin:0 auto;
	position: absolute;
	height: 120px;
	margin:auto;
	left: 0;
	right: 0;
}

.itemImg img{
	max-height: 115px;
	margin: auto;
	left: 0;
	right: 0;
	position: absolute;
}

.itemName{
	position:absolute;
	bottom: -20px;
}

.itemPrice{
	position: absolute;
	bottom: -42px;
	font-family: SFUIMedium;
	font-size: 1.2em;
}

.whitePanel{
	background-color: white;
	border-radius: 8px;
	box-shadow: 1px 1px 100px -32px #404040;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 30px;
	padding-left: 65px;
	padding-bottom: 40px;
	padding-right: 65px;
	font-size: 1.1em;
	overflow: auto;
}

.leftPanel{
	width: 400px;
	display: inline-block;
}

.iconContainer{
	width: 25px;
	display:inline-block;
	position: relative;
	top: 7px;
}

.rigthPanel{
	width: 350px;
	float: right;
}

input,
textarea{
	margin-bottom: 25px;
	border-radius: 8px;
	border: 2px solid black;
	padding-left:8px;
	font-size: 1em;
	display: block;
	width: 350px;
	height: 35px;
	outline:none;
}

input{
	height: 35px;
}

textarea{
	padding-top: 8px;
	height: 150px;
}

button{
	border-radius: 8px;
	border: 2px solid black;
	background-color: white;
	width: 200px;
	height: 40px;
	transition: all 0.3s ease-out;
	font-style: SFUIBold;
}

button:hover{
	background-color: black;
	color: white;
}

button p{
	font-size: 1.2em;
}

.itemImgContainer{
	width: 350px;
	display: inline-block;
	float: left;
}

.itemInfo{
	padding-left:50px;
	display: inline-block;
	width:420px;
	font-family: SFUIMedium;
}

.itemInfo p{
	line-height: 1.8;
}

.whitePanel ul li{
	padding-bottom: 10px;
}

ol li{
	line-height: 1.4;
}

#map{
	width: 830px;
	height: 450px;
}

.mapContainerCont{
	position: relative;
	margin-top:170px;
}

.mapContainerMain{
	position: relative;
}

#footer{
	background-color: #1b1b1b;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 110px;
}

.whiteBlockImg{
	margin:0 auto;
	width: 205px;
	padding-left:10px;
	padding-top: 10px;
}

#footer .container{
	height: 90px;
	background-color: #1b1b1b;
	color: white;
	font-size: 0.9em;
	text-align: center;
	padding-top: 20px;
	margin:auto;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:auto;
	position: absolute;
}

.removeOnClick{
	transition: all 0.4s ease-out;
	height: 0px;
}

.mapPanel{
	background-color: white;
	border-radius: 8px;
	box-shadow: 1px 1px 100px -32px #404040;
	margin-top: 0px;
	margin-bottom: 30px;
	padding-top: 25px;
	padding-left: 65px;
	padding-bottom: 40px;
	padding-right: 65px;
	font-size: 1.1em;
	left:0%;
	opacity: 1;

}

.blockText{
	height: 190px;
}

#mapImage{
	cursor: pointer;
}

#items,
#content{
	padding-bottom: 120px;
}

.numbers{
	margin-bottom: 35px;
}

.algeriaBold ol{
	padding-left:15px;
}

.SFUIMedium{
	font-family: SFUIMedium;
	line-height: 1.8em;
}