<template>
    <div>
        <div class="page-header">
            Редактирование товара {{ product.name }}
        </div>
        <panel>
            <product-form :product="product"></product-form>
            <template slot="footer">
                <el-button @click="save">
                    Сохранить
                </el-button>
                <el-button @click="$router.push('/products')">
                    Назад
                </el-button>
            </template>
        </panel>
    </div>
</template>

<script>
    import Form from './form.vue'

    export default {
        components: {
            ProductForm: Form,
        },

        data() {
            return {
                product: {
                    name: '',
                    category_id: null,
                    description: '',
                    price: '',
                    image: null,
                    image_url: null,
                },
            }
        },

        mounted () {
            this.load()
        },

        methods: {
            async load () {
                this.product = await this.$http.get(`products/${this.$route.params.id}`)
            },

            async save () {
                const data = new FormData()
                for (let key in this.product) {
                    if (key != 'image_url' && !this.product[key]) {
                        this.$message({
                            message: 'Все поля обязательны для заполнения',
                            type: 'error',
                        })
                        return
                    }
                    data.append(key, this.product[key])
                }

                try {
                    let response = await this.$http.post(`products/${this.$route.params.id}`, data)
                    await this.load()
                    if (response.result == 'success') {
                        this.$message({
                            message: 'Товар сохранен',
                            type: 'success',
                        })
                    }
                    return
                } catch (e) {}
                this.$message({
                    message: 'Ошибка при сохранении данных',
                    type: 'error',
                })
            }
        }
    }
</script>
