<template>
    <el-form labelPosition="top" ref="form">
        <el-form-item label="Название">
            <el-input v-model="product.name"></el-input>
        </el-form-item>
        <el-form-item label="Цена">
            <el-input v-model="product.price"></el-input>
        </el-form-item>
        <el-form-item label="Изображение">
            <div>
                <img v-if="product.image_url" :src="'/storage/' + product.image" width="128" height="128">
            </div>
            <input type="file" @change="saveImage">
        </el-form-item>
        <el-form-item label="Категория">
            <el-select v-model="product.category_id" placeholder="Выберите категорию">
                <el-option
                        v-for="category in categories"
                        :key="category.id"
                        :label="category.name"
                        :value="category.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="Описание">
            <el-input type="textarea" v-model="product.description"></el-input>
        </el-form-item>
    </el-form>
</template>

<script>
    export default {
        props: ['product'],

        data() {
            return {
                categories: [],
            }
        },

        mounted () {
            this.load()
        },

        methods: {
            async load () {
                this.categories = await this.$http.get('categories')
            },

            saveImage (e) {
                this.product.image = e.target.files[0]
            },
        }
    }
</script>
