<template>
    <div>
        <div class="page-header">
            {{ title }}
        </div>
        <panel>
            <el-table
                    :data="products">
                <el-table-column
                        prop="name"
                        label="Название">
                </el-table-column>
                <el-table-column
                        prop="price"
                        label="Цена">
                </el-table-column>
                <el-table-column
                        prop="category.name"
                        label="Категория">
                </el-table-column>
                <el-table-column label="Фото">
                    <template scope="scope">
                        <img :src="'/storage/' + scope.row.image" width="128" height="128">
                    </template>
                </el-table-column>
                <el-table-column label="Действия">
                    <template scope="scope">
                        <el-button @click="$router.push(`/products/${scope.row.id}`)">Редактировать</el-button>
                        <el-button @click="deleteProduct(scope.row.id)" type="danger">Удалить</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-button slot="footer" @click="$router.push('/products/create')">
                Создать
            </el-button>
        </panel>
    </div>
</template>

<script>
    export default {
        props: [
            'title',
        ],

        data() {
            return {
                products: [],
            }
        },

        mounted() {
            this.load()
        },

        methods: {
            async load () {
                this.products = await this.$http.get('products')
            },

            async deleteProduct (id) {
                await this.$http.delete(`products/${id}`)
                await this.load()
                this.$message({
                    message: 'Товар удален',
                    type: 'success',
                })
            }
        }
    }
</script>
